.hug {
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
  margin-top: -1.6875rem;
}

.hug input {
  height: 3.375rem;
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  background-color: var(--gray-500);
  color: var(--gray-100);
}

.hug input:focus {
  border: 1px solid var(--purple-dark);
}

.btnNewTask {
  background-color: var(--blue-dark);
  height: 3.375rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;

  transition: background-color 0.5s;
}

.btnNewTask:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.btnNewTask:disabled {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  cursor: not-allowed;
}

.main {
  margin-top: 4rem;
  min-height: 17.9375rem;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.info p {
  font-weight: 700;
  font-size: 0.875rem;
}

.createdTasksTitle {
  color: var(--blue);
}

.completedTasksTitle {
  color: var(--purple);
}

.tasksCounter {
  color: var(--gray-200);
  background-color: var(--gray-400);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 8px;
}

.container {
  border-radius: 8px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.75rem;
}

.emptyTasks {
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  color: var(--gray-300);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyTasks > :first-child {
  color: var(--gray-400);
  margin-bottom: 1rem;
}

.emptyTasks strong {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.emptyTasks p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
